body{
    background-color:antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: sticky;
   }




nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 56px;
    background-color: black;
    position: sticky;
    
}

.brand img{
    width: 40px;
    height: 44px;
    padding: 0 8px;
}


.brand{
    display: flex;
    align-items: center;
    font-size: large; 

}


nav ul li{
    padding:  0 32px; 
}

nav ul li.a:hover{
       color: black;
       background: lightgrey;
       cursor: pointer;
       border-radius: 30px;
       height: 22px;
}


   .container{
    position: sticky;
    min-height: 64vh;
    background-color: black;
    color:white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('/img/sist.jpg');
   
}


.bottom{
    position: sticky;
    height: 106px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
   .icons{
      margin-top: 8px;
   }

   .icons i{
    cursor: pointer;
   }
#myProgressBar{
        width: 80vw;
        cursor: pointer;
}

 .songItem{
      height: 50px;
      display: flex;
      background-color: rgb(67, 41, 41);
      width: 60%;
      color: rgb(183, 173, 173);
      margin: 12px 0;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      color: black;
      background-color: white;

      color: black;
      margin: 12px 0;
      justify-content: space-between;
      align-items: center;
      border-radius: 34px;  
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    padding: inherit;
    border-radius: 34px;
} 

.timestamp{
    margin: 0 30px;
    cursor: pointer;
}


 .songinfo{
   position: absolute;
   left: 10vw;
   margin: 2px 5px;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


